<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Title : Peer Graded Assignment

## Exercise 3 - Create a markdown cell for an introduction. (1 pt)

### Introduction: This assignment will showcase the skills learned through the length of the entire course using this jupyter notebook

## Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

### Data science languages are: R, Python, Java, Scala, C++, Ruby, JavaScript, Julia, etc.

## Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

### Data Science libraries are: 
### Python: Matplotlib, Numpy, Pandas, Seaborn, SciKit-Learn, Keras, TensorFlow, PyTorch, 
### Scala: BigDL, Vegas
### R: Keras, TensorFlow

## Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

| Type | Use | Examples |
| --- | --- | --- |
| Open Source | Data Management | MySQL, MongoDB, CouchDB, Hadoop, Cassandra |
| Open Source | Data Integration/Transformation | CubeFlow, Airflow, Kafka, Nifi |
| Open Source | Data Visualization | Hue, PixieDust, Kibana, Superset |
| Open Source | Model Deployment | PredictionIO, MLeap, Seldom, TensorFlowServing |
| Open Source | Model Monitoring | ModelDB, Prometheus |
| Open Source | Code Asset Management | Git, GitHub, GitLab |
| Open Source | Data Asset Management | Apache Atlas, Egeria, Kylo |
| Open Source | Dev Environments | Jupyter, Apache Zepplin, RStudio |
| Open Source | Execution Environments | Apache Spark, Flink, Ray |
| Open Source | Fully Integrated Visual Tools | Knime, Orange |
| Commercial | Data Management | Oracle, IBM DB2, Microsoft SQL Server |
| Commercial | Data Integration/Transformation | Informatica, Talend, IBM Infosphere Datastage |
| Commercial | Data Visualization | Tableau, IBM Cognos Analytics |
| Commercial | Model Building | SPSS, SAS |
| Commercial | Model Deployment | IBM SPSS |
| Commercial | Data Asset Management | Informatica |
| Cloud | Fully integrated visual tools | IBM Watson Studio, Azure Machine Learning, H2O |
| Cloud | Data Management | Amazon DynamoDB, Cloudant, CouchDB, IBM DB2 |
| Cloud | Data Integration/Transformation | Informatica, IBM Dta Refinery |
| Cloud | Data Visualization | Datamer, IBM Cognos Analytics |
| Cloud | Model Building | IBM Watson Machine Learning, Google Cloud |
| Cloud | Model Deployment | SPSS Modeler |
| Cloud | Model Monitoring | Amazon SageMaker Model Monitor |

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
### examples: x=y**2
### y=x+2-3
### z= x//y

## Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [2]:
#add
def addnum(x,y):
    z=x+y
    return z

def mulnum(x,y):
    z=x*y
    return z

## Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [4]:
def mintohour(x):
    y=x/60
    return y

## Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

### 1. Create a jupyter notebook file
### 2. Learn to use markdown cells
### 3. Learn to write simple arithmetic expressions using code
### 4. Publish the notebook to github

## Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
### Author: Nitin Gowda